@import url('../node_modules/font-awesome/css/font-awesome.min.css');

body {
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgb(21, 3, 36) 100%);
    color: white !important;
    font-family: Anonymous Pro !important;
}

.dataTableContainer {
    box-shadow: 2px 2px 10px 2px rgb(70, 67, 75);
    border-radius: 6px;
    padding: 4px;
    margin-left: 1%;
    margin-right: 1%;
}

.banner {
    box-shadow: 2px 2px 10px 2px rgb(37, 34, 44);
    border-radius: 6px;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(55, 55, 55, 1) 100%);
    padding: 10px;
    margin-left: 4%;
    margin-right: 4%;
    width: 50%;
    height: 80px;
}

#datatable_wrapper {
    /* background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(55, 55, 55, 1) 100%); */
    color: white;
}

.icon::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

input {
    color: rgb(163, 163, 163);
}

select {
    color: white;
}

label {
    color: rgb(163, 163, 163);
}

.dataTables_info {
    color: rgb(163, 163, 163) !important;
}

.dataTables_paginate paging_simple_numbers{
    color: rgb(163, 163, 163) !important;
}

td {
    background-color: black !important;
    border: 0.5px solid #252525 !important;
}

/* tooltip */
.customdata {
    position: relative ;
}
.customdata:hover::after {
    content: attr(data-tooltip) ;
    position: absolute ;
    top: 1.1em ;
    left: 1em ;
    border: 1px #313131 solid ;
    padding: 5px ;
    color: white;
    background-color: rgb(19, 19, 19) ;
    opacity: 0.9;
    z-index: 1 ;
    text-align: center;
    font-size: 12px;
    border-radius: 5px;
}

/* (A) 3 COLUMNS ON BIG SCREENS */
.gridWrap {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    justify-content: center;
  }
  .gridCol {
    padding: 10px;
    justify-content: center;
    margin: auto;
  }
  /* (B) BREAK DOWN 1 COLUMN ON SMALL SCREENS */
  @media only screen and (max-width: 768px) {
    .gridWrap { grid-template-columns: 100%; }
  }

/* td.details-control {
    background: url('https://cdn.rawgit.com/DataTables/DataTables/6c7ada53ebc228ea9bc28b1b216e793b1825d188/examples/resources/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('https://cdn.rawgit.com/DataTables/DataTables/6c7ada53ebc228ea9bc28b1b216e793b1825d188/examples/resources/details_close.png') no-repeat center center;
} */